[Unit]
Description=OpenBSD Secure Shell user server
After=network.target auditd.service
#ConditionPathExists=!/etc/ssh/sshd_not_to_be_run

[Service]
#EnvironmentFile=-/etc/default/ssh
ExecStartPre=/usr/sbin/sshd -t -f "/home/ahmbasar/.ssh/sshd_config"
ExecStart=/usr/sbin/sshd -f "/home/ahmbasar/.ssh/sshd_config" -h "/home/ahmbasar/.ssh/ssh_host_rsa_key" -h "/home/ahmbasar/.ssh/ssh_host_ed25519_key" -D 
ExecReload=/usr/sbin/sshd -t -f "/home/ahmbasar/.ssh/sshd_config"
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=notify
#RuntimeDirectory=sshd
#RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
#Alias=sshd.service
