[Desktop Entry]
Type=Application
Name=Murmur Colemak Arrows
Comment=Apply custom XKB key mappings
Exec=/home/ahmbasar/.config/xkb/apply-murmurkb.sh
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Applications
