*
!.config/

!.config/xkb/
!.config/xkb/**
.config/xkb/autostart.log
.config/xkb/xprofile.log

!.config/autostart/
!.config/autostart/**
./.config/autostart/murmurkb.desktop

!.bash_profile
!.bashrc
!.bash_login
!.zprofile
!.zshrc
!.profile
!.xprofile
!.xinitrc
!.gitignore
